/* layout */
#wrap{width: 100%;}
  #header{z-index: 40;position:relative; width: 100%; height: 70px;}
    .header_wrap{position:absolute;left: 0;top: 0;width: 100%;height: 70px;background-color: #f3f3f3; transition:all 0.5s ease 0s }
      .header_inner{position:relative; width: 100%;height: 70px;background-color: #fff;}
  .main_visual{z-index: 30;position:relative;width: 100%;}
  #container{width: 100%;}
    .content1{width: 100%;padding: 90px 0 110px; background: #fff;}
    .content2{width: 100%;display:flex; justify-content: center;align-items: center; background-color: #fff; }
    .content3{width: 100%;background-color: #f4f7fb;}
    .content3:after{content:'';display:block;clear: both;}
    .content4{width: 100%;margin: 0 auto 122px;}
  .sitemap{width: 100%;background-color: #f3f3f3;}
  #footer{position:relative; width: 100%;height: 185px;background-color: #474a4f;}
    .foot_inner{width: 1142px;margin: 0 auto;}
    .foot_inner:after{content:'';display:block;clear:both;}
