@import url(reset.css);
/* sub1.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

/* common */
body{font-size: 14px;font-family:'Noto Sans','Noto Sans KR',Helvetica,sans-serif;color:#333;}
a{text-decoration: none;color: #333;}
a:hover{text-decoration: none;color: #333;}

/* layout */
#wrap{width: 100%;}
  #header{z-index: 40;position:relative; width: 100%; height: 70px;}
    .header_wrap{position:absolute;left: 0;top: 0;width: 100%;height: 70px;background-color: #f3f3f3; }
      .header_inner{position:relative; width: 100%;height: 70px;background-color: #fff;}
  #container{width: 100%;}
    .spot{width: 100%; height: 320px; }
      .spot_inner{position:relative;width: 1142px; height: 320px;padding-top: 100px;box-sizing: border-box; margin: 0 auto;}
    #content{width: 1142px; margin: 0 auto;padding: 100px 0 160px}
    
  #footer{position:relative; width: 100%;height: 185px;background-color: #474a4f;}
    .foot_inner{width: 1142px;margin: 0 auto;}



/* header */
/* 로고 */
h1.logo{position: absolute;left: 30px;top: 18px;}
h1.logo>a{display:block; width: 176px;height: 36px;background: url(../images/logo.png) no-repeat 0 0; text-indent: -9999px;overflow: hidden;}

/* 주메뉴 */

nav.gnb>ul{width: 100%; display:flex;flex-direction:row;justify-content: center;text-align: center;}
nav.gnb>ul>li{display:inline-block; padding: 0 45px;line-height: 70px;}
nav.gnb>ul>li>a{display:inline-block;position:relative; font-weight: 600;font-size: 18px;color: #000;}

nav.gnb>ul>li>a:after{content:""; position:absolute; left: 50%; bottom: -2px; transform: translateX(-50%); width: 0;height: 0;opacity: 0; background: #043285; }
nav.gnb>ul>li:hover>a:after{height: 3px;width: 100%; opacity: 1; }

nav.gnb>ul>li>div{display:none; position:absolute;left: 0;width: 100%;line-height: 40px;}
nav.gnb>ul>li.on>div{display:block;opacity:1}

/* nav.gnb>ul>li:nth-of-type(1)>div{display:block} */

nav.gnb>ul>li>div>ul{margin: 50px 0;}
nav.gnb>ul>li>div>ul>li{display:inline-block;padding: 0 40px;border-right: 1px solid #ddd;vertical-align: top; text-align-last: left;}
nav.gnb>ul>li>div>ul>li:last-child{border-right: none;}

nav.gnb>ul>li:nth-child(1)>div>ul>li{height: 270px;}
nav.gnb>ul>li:nth-child(2)>div>ul>li{height: 200px;}
nav.gnb>ul>li:nth-child(3)>div>ul>li{height: 121px;}
nav.gnb>ul>li:nth-child(4)>div>ul>li{height: 231px;}
nav.gnb>ul>li:nth-child(5)>div>ul>li{height: 164px;}

nav.gnb>ul>li>div>ul>li>a{display:block;font-weight: bold;font-size: 16px;color: #1428a0;}

nav.gnb>ul>li>div>ul>li>ul{float: left;}
nav.gnb>ul>li>div>ul>li>ul:nth-of-type(2){margin-left: 40px;}

.gnb_button{margin-bottom: 30px;}
.gnb_button>a{display:inline-block; border:1px solid #e2e2e2; border-radius:5px;padding: 10px 20px; background: #fff url(../images/btn_arrow_ico_l.png) no-repeat 95% 50%;text-align-last: left; line-height: 30px; }
.gnb_button>a>strong{font-size: 18px;font-weight: 600;}

nav.gnb>ul>li:nth-child(1)>div>div.gnb_button>a{width: 780px; background-position: 97% 50%;}
nav.gnb>ul>li:nth-child(1)>div>div.gnb_button>a>strong{color:#1428a0}
nav.gnb>ul>li:nth-child(4)>div>div.gnb_button>a{ width: 320px; margin-right: 15px;}

/* 탑메뉴 */
dl.topMenu{position:absolute;right: 60px;top: 0;}
dl.topMenu>dd{float:left;}
dl.topMenu>dd>a{position:relative;display :block;width: 60px;height: 40px; text-align: center;font-weight: 600; padding-top: 30px;}
dl.topMenu>dd>a:after{position:absolute;content:'';left: 0;top: 50%;width: 1px;height: 10px;background-color: #ddd;}
dl.topMenu>dd:first-of-type>a:after{display:none;}
dl.topMenu>dd:first-of-type>a{background: url(../images/ico_inq.png) no-repeat 50% 30px; text-indent: -9999px; overflow:hidden}


dl.topMenu>dd>ul{display:none;position:absolute;top: 68px;width: 60px;border-top: 5px solid #1428a0; background: #fff;padding-top: 10px;}
dl.topMenu>dd:hover>ul{display:block;}
dl.topMenu>dd:nth-of-type(2)>ul>li>a{display:block; width: 30px;height: 30px;border-radius: 50%; background: #ededed url(../images/utill_sns_ico.png) no-repeat 0 0;  text-indent: -9999px; overflow:hidden; margin: 0 auto 10px; }
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(1)>a{background-position: -30px 0;}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(2)>a{background-position: -60px 0;}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(3)>a{background-position: 0 0;}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(4)>a{background-position: -120px 0;}

dl.topMenu>dd:last-of-type>ul{height: 130px;}
dl.topMenu>dd:last-of-type>ul>li{text-align: center;;padding: 10px 0;}

/* 검색버튼 */
div.btn_srch{position:absolute;right: 0;top: 0;}
div.btn_srch>a{display:block;width: 60px;height: 70px;background: #043285 url(../images/btn_srch_ico.png)no-repeat 50% 50%;text-indent: -9999px;overflow: hidden}


/* 검색박스 */
.srch_wrap{display:none; position:fixed; left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.6);}
.srch_wrap.on{display:block;}
.srch_inner{position:absolute;left: 0;top: 70px;width: 100%;height: 200px;background: url(../images/srch_pop_bg.jpg) no-repeat 50% 50%; padding-top: 60px;}
.srch_inner>form{width: 655px;margin: 0 auto;}
.srch_inner>form>fieldset{width: 100%;height: 55px;background: #fff;margin-bottom: 20px;}
.srch_inner input[type="search"]{width: 600px;height: 55px;border:none; text-indent: 20px;}
.srch_inner button[type="button"]{width: 45px;height: 45px;transform:translate(1px,2px); background: #333 url(../images/btn_srch_ico_l.png) no-repeat 50% 50%; text-indent: -9999px; overflow: hidden;}

.srch_inner>form>ul{width: 100%;border-top: 1px solid rgba(255,255,255,.5);padding-top: 20px;} 
.srch_inner>form>ul>li{float: left;height: 45px;padding: 0 29px;background: #eee;border-radius: 5px;margin-right: 10px;font-size: 16px;line-height: 45px; background: #eee url(../images/btn_arrow_ico_m.png) no-repeat 90% 50%;} 
.srch_inner>form>ul>li:last-child{float: right;margin-right: 0;} 

.btn_srch_close{position:absolute;right: 0;top: 0;width: 60px;height: 70px;background: #043285 url(../images/srch_pop_close.png) no-repeat 50% 50%; text-indent: -9999px;overflow: hidden;}

/* container */
/* spot */
.spot{background: url(../images/faq_visual_img.jpg) no-repeat 50% 0; color: #fff;}

.spot_inner>h2{font-size: 46px;margin-bottom: 15px;}
.spot_inner>p{font-size: 16px;color: #eee;}
.spot_inner>p.path{position:absolute;bottom: 20px;right: 0;text-align: right;font-size: 14px;color: #ccc;}

/* content */
#content h3{font-size: 36px;color: #000;font-weight: bold;line-height: 1;}
#content h3:after{content:'';display:block; width: 40px;height: 3px;background: #0079cc;margin: 20px 0 30px;}

/* faq */
div.faq{display:flex;justify-content: space-between; width: 100%;padding: 20px 30px;box-sizing: border-box; border:1px solid #ccc;margin-bottom: 60px;}
div.faq>p{font-size: 16px;line-height: 45px;}
div.faq>a{display:block;width: 160px;height: 45px; background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 90% 50%; color: #fff;font-size: 16px;text-align: center;line-height: 45px;}

/* step1 */
.step1>ul{display:flex;width: 100%;}
.step1>ul>li{flex:1;text-align: center;}
.step1>ul>li>a{display:block;width: 190px;height: 170px;border: 1px solid #ccc;border-left:none; padding-top: 120px;box-sizing: border-box;font-size: 17px;}
.step1>ul>li:first-child{ background: url(../images/ico_inquiry_01.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(2){ background: url(../images/ico_inquiry_02.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(3){ background: url(../images/ico_inquiry_03.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(4){ background: url(../images/ico_inquiry_04.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(5){ background: url(../images/ico_inquiry_05.png) no-repeat 50% 35%; }
.step1>ul>li:last-child{ background: url(../images/ico_inquiry_06.png) no-repeat 50% 35%; }
/* .step1>ul>li:first-child.on>a{background: #043285 url(../images/ico_inquiry_on_01.png) no-repeat 50% 35%; color: #fff;} */


/* .step1>ul{display:flex;flex-direction: row;width: 100%;}
.step1>ul>li{height: 170px; width:190px}

.step1>ul>li:first-child{ background: url(../images/ico_inquiry_01.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(2){ background: url(../images/ico_inquiry_02.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(3){ background: url(../images/ico_inquiry_03.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(4){ background: url(../images/ico_inquiry_04.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(5){ background: url(../images/ico_inquiry_05.png) no-repeat 50% 35%;}
.step1>ul>li:last-child{ background: url(../images/ico_inquiry_06.png) no-repeat 50% 35%; border-right:1px solid#ccc}

.step1>ul>li>a{display:block; text-align: center;padding: 120px 0px 0; border: 1px solid #ccc;border-right: none; line-height: 60px;font-size: 18px;} */

/* step2 */
.step2>h3{padding: 30px 0;}
.step2>p{font-size: 16px;letter-spacing: -0.5px;margin-bottom: 20px;}
.step2>p.essential{text-align: right;margin-bottom: 10px;}

.step2>form>fieldset>dl{border-top: 1px solid #333; padding: 50px 80px;background-color: #f3f3f3;}
.step2>form dt{font-size: 20px;font-weight: 600;}
.step2>form dt>label>span{padding-right: 5px;color: #1a73b7;font-size: 14px;}
.step2>form dl input, .step2>form select{width: 100%;height: 45px;border: 1px solid #ccc;margin: 20px 0; box-sizing: border-box; text-indent: 10px;}
.step2>form textarea{width: 100%;height: 260px;padding: 18px;border:1px solid #ccc;margin: 20px 0;box-sizing: border-box;}

.step2>form dd.product{display:flex; justify-content: space-between;}
.step2>form dd.product select{width:310px;}

.step2>form dd.seperate{border-bottom : 1px solid #ccc; margin-bottom: 20px;}
.step2>form dd.user{display:flex; justify-content: space-between ;}
.step2>form dd.user dl{width:478px}

.step2>form dd.phone input {margin-bottom: 10px;}
.step2>form dd.phone input:first-of-type{width: 310px;margin-right: 14px;}
.step2>form dd.phone input:last-of-type{width: 620px;margin-left: 14px;}
.step2>form dd.phone p{padding-bottom: 20px;font-size: 16px;color: #333;}

.step2>form dd.attach input[type="text"]{width: 794px;margin-right: 20px;background: #fff;}
.step2>form dd.attach label{display:inline-block; width: 160px;height: 45px;background: #333;color: #fff;text-align: center;line-height: 45px;}
.step2>form dd.attach input[type="file"]{display:none;}

/* 개인정보 동의 */
.step2>form h4{font-size: 30px;margin: 80px 0 20px;}
.step2>form div.agree{border:1px solid #ccc;padding: 50px;margin-bottom: 90px;font-size: 16px;color: #666;}
.step2>form div.agree>h5{color: #0079cc;margin-bottom: 10px;}
.step2>form div.agree>ul{margin-bottom: 15px;}
.step2>form div.agree>ul>li{background: url(../images/bg_list_dot.gif) no-repeat 0 50% ; text-indent: 10px;line-height: 1.8;}

.step2>form div.agree>ul>li>span{color: #0079cc;font-size: 20px;text-decoration: underline;}
.step2>form div.agree p:nth-last-of-type(1){text-align: right;}
.step2>form div.agree p:nth-last-of-type(2){display:flex;justify-content: space-between;}

/* 접수하기 */
.step2>form input[type="submit"]{display: block; width: 160px;height: 45px;margin: 0 auto;border:none; background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 75% 50%; color: #fff;text-align: center;}


/* footer */
/* foot_inner */
.foot_inner li{float: left;}
.foot_inner li a {color: #fff;}

.foot_inner>div:first-of-type{width: 100%;border-bottom: 1px solid #6c6f73;padding:20px 0 ;margin-bottom: 20px;}
.foot_inner>div:first-of-type:after{content:'';display:block;clear:both;}

.foot_inner>div:first-of-type>ul:first-of-type{float:left;}
.foot_inner>div:first-of-type>ul:first-of-type>li{position:relative; padding-right: 20px;margin-right: 20px;}
.foot_inner>div:first-of-type>ul:first-of-type>li:after{content:'';position:absolute;right: 0; top: 50%;margin-top: -7px;width: 1px;height: 14px;background: #999;}
.foot_inner>div:first-of-type>ul:first-of-type>li:last-child:after{display:none;}

.foot_inner>div:first-of-type>ul:last-of-type{float:right;}
.foot_inner>div:first-of-type>ul:last-of-type>li a{width: 40px; text-indent: -9999px;overflow: hidden;}

.foot_inner>div:first-of-type>ul:last-of-type>li:first-of-type>a{display:block;width: 30px;height: 30px;background: url(../images/sns_link_ico.png) no-repeat 0 0;}
.foot_inner>div:first-of-type>ul:last-of-type>li:nth-of-type(2)>a{display:block;width: 30px;height: 30px;background: url(../images/sns_link_ico.png) no-repeat -30px 0;}
.foot_inner>div:first-of-type>ul:last-of-type>li:nth-of-type(3)>a{display:block;width: 30px;height: 30px;background: url(../images/sns_link_ico.png) no-repeat -60px 0;}
.foot_inner>div:first-of-type>ul:last-of-type>li:last-of-type>a{display:block;width: 30px;height: 30px;background: url(../images/sns_link_ico.png) no-repeat -90px 0;}

.foot_inner>div:last-of-type>ul{float:left;margin-bottom: 20px;}
.foot_inner>div:last-of-type>ul>li{margin-right: 30px;}
.foot_inner>div:last-of-type>ul>li>a{color: #ccc;}
.foot_inner>div:last-of-type>ul>li:nth-child(3)>a{color: #0cf;}

.foot_inner>div:last-of-type>p{float:right;color: #ccc;font-size: 12px;}

.foot_inner>div:last-of-type>address{clear:both; width: 420px;color: #ccc;font-size: 13px;}
.foot_inner>div:last-of-type>address>span{position:relative;padding-right: 10px;margin-right: 10px;}
.foot_inner>div:last-of-type>address>span:after{content:'';position:absolute;right: 0;top: 50%;margin-top: -5px;width: 1px;height: 10px;background: #ccc;}
.foot_inner>div:last-of-type>address>span:nth-of-type(3):after{display:none;}
.foot_inner>div:last-of-type>address>span:nth-of-type(4):after{display:none;}

/* top */
a.btn_top{display:none; position: fixed;bottom: 30px;;right: 80px; width: 60px;height: 60px; border: 1px solid #333;background: #fff url(../images/top_btn_ico.png) no-repeat 50% 20%; font-size: 13px;color: #333;text-align: center;line-height: 80px;cursor: pointer;}
a.btn_top.on{display:block;}
a.btn_top.ab{position:absolute; bottom: auto; top: -100px;right: 80px;}
